.Chat {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.Chat header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  cursor: default;
}

.Chat section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
}


.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.sent span {
  color: white;
  align-self: flex-end;
}

.received p {
  background: #e5e5ea;
  color: black;
}

.received span {
  color: white;
}