.Home {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

.Home header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 1300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  cursor: default;
}

.Home section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
}

.Home label {
  color: white;
  margin-bottom: 4px;
}

.Home form {
  max-width: 1300px;
}
