
.NavBar {
    background: #3d424b;
    width: 100%;
    max-width: 300px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    border: solid;
    border-color: rgb(37, 37, 37);
}

.NavBar header {
    text-align: center;
    padding-left: 33%;
    background-color:rgb(75, 83, 97);
    border-bottom: solid;
    border-color: rgb(37, 37, 37);
    color: rgb(216, 215, 215);
}